@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: #ffff00; */
    background: blue;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 900px;
    height: 460px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    font-family: "Merriweather", serif;
}

textarea {
    width: 100%;
    height: 325px;
    padding: 5px;
    border-radius: 5px;
    resize: none;
    font-size: 18px;
    outline: none;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Merriweather", serif;
}

label {
    padding: 10px;
    font-family: "Merriweather", serif;
}

.row span {
    font-weight: bold;
    font-size: 20px;
    font-family: "Merriweather", serif;
}